<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/falfaddaghi/" target="_blank">@falfaddaghi</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/falfaddaghi/" target="_blank">@falfaddaghi</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/faisal-alfaddaghi-a45733b4" target="_blank">linkedin.com/in/falfaddaghi</a></p>
<!--<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://ellekasai.com/" target="_blank">ellekasai.com</a></p>-->
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:faisalalfaddaghi@gmail.com" target="_blank">faisalalfaddaghi@gmail.com</a></p>
<p><i class="fa fa-codepen fa-lg fa-fw"></i> <a href="https://www.codingame.com/profile/01a29c5e7421a99389bd7641a3558c08560639" target="_blank">CodinGame</a></p>
<p><i class="fa fa-codepen fa-lg fa-fw"></i> <a href="https://www.hackerrank.com/faisalalfaddaghi" target="_blank">Hacker Rank</a></p>
